:root {
    --primary-header-color: #303030;
    --second-color: #ffffff;
    --second-heading-color: #ffffff;
    --primary-link-color: #ffffff;
    --accent-color: #ff6c00;
    --main-text-color: #555555;
    --sub-title-color: rgba(157, 164, 189, 0.6);

    --main-margin: 20px;
    --second-margin: 42px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    margin: 0px;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}

body {
    font-family: "Open sans", sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--second-heading-color);
}

/* ----------header------------*/

header {
    position: absolute;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-list>li:not(:last-child) {
    margin-right: 30px;
}

.header-logo {
    padding: 32px 0px;
    display: block;
    margin-right: 130px;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-link-color);
}

.header-cont {
    margin-left: auto;
    margin-right: 20px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-link-color);
    margin-right: 40px;
}

.button {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border-radius: 25px;
    height: 40px;
    min-width: 160px;
    background-color: transparent;
    border: 1px solid var(--accent-color);
}

.header-btn {
    color: var(--second-color);
}

.button:focus,
.button:hover {
    background-color: var(--accent-color);
}

/* ----------hero------------*/
.hero .container {
    display: flex;
}

.hero-right {
    padding: 184px 526px 208px 100px;
    flex-grow: 1;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)),
        url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--primary-header-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-social {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 47px;
    padding-bottom: 40px;
}

.hero-list {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    gap: 40px;
}

.hero-list::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--primary-header-color);

}

.sub-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--sub-title-color);
    margin-bottom: var(--main-margin);
    display: flex;
    align-items: center;
    gap: 20px;
}

.sub-title::before {
    content: '';
    display: block;
    background-color: currentColor;
    width: 60px;
    height: 1px;

}

.hero-title {
    font-size: 72px;
    line-height: 1.18;
    margin-bottom: var(--main-margin);
}

.text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    max-width: 370px;
}

.hero-links {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.hero-links:hover,
.hero-links:focus {
    color: var(--accent-color);
}

/* ----------about------------*/

.about {
    padding: 120px 0;
}

.about .container {
    display: flex;
}

.list-about {
    display: flex;
}

.about-items:not(:last-child) {
    margin-right: 30px;
}

.about-wrap {
    margin-left: 30px;
}

.about-pre-title {
    color: #303030;
    margin-bottom: var(--main-margin);
}

.about-title {
    color: var(--primary-header-color);
    margin-bottom: var(--main-margin);
}

.about-after-title {
    color: var(--main-text-color);
    margin-bottom: var(--main-margin);
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: var(--second-margin);
}

.about-btn {
    color: #303030;
}

/* ----------price------------*/

.price {
    padding: 120px 0;
    background: #111319;
    background-image: url("../images/services.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.price-title {
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 44px;
}

.price-list-wrap {
    display: flex;
    gap: 30px;
}

.price-list {
    padding: 30px 20px;
    flex-grow: 1;
}

.price-list:first-child {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
    margin-bottom: var(--main-margin);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price-item::after {
    content: '';
    background-color: rgba(157, 164, 189, 0.12);
    height: 1px;
    flex-grow: 1;
    margin: 0 12px;
}

.price-item:last-child {
    margin-bottom: 0;
}

.price-elements {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.price-elements:last-child {
    order: 1;
}

.price-btn {
    color: var(--second-color);
    margin: 0 auto;
    display: block;
    margin-top: 44px;
}

/* ----------benefits------------*/

.benefits {
    padding: 120px 0;
}

.benefits .container {
    display: flex;
}

.benefits-list-wrap {
    width: calc(50% + 15px);
    display: flex;
    justify-content: center;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
}

.benefits-items:nth-child(2n+1) {
    margin-right: 30px;
}

.benefits-items:nth-child(2n) {
    margin-top: 30px;
}

.benefits-items {
    background-color: #f7f7f7;
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;
}

.benefits-items>span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
    display: flex;
    justify-content: center;
}

.benefits-items>span::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    color: var(--accent-color);
}

.benefits-items>p {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #303030;
}

.benefits-wrap {
    padding-top: 9px;
    padding-right: 70px;
}

.benefits-title {
    color: var(--primary-header-color);
    margin-bottom: var(--main-margin);
}

.pre-benefits-title {
    color: var(--primary-header-color);
    margin-bottom: var(--main-margin);
}

.benefits-text {
    color: var(--main-text-color);
}

/* ----------barbers------------*/
.barbers {
    padding: 120px 0;
    background: #f7f7f7;
}

.pre-barbers-title {
    columns: var(--primary-header-color);
}

.barbers-title {
    color: var(--primary-header-color);
    margin-bottom: 44px;
}

.barbers-list {
    display: flex;
}

.barbers-items:not(:last-child) {
    margin-right: 30px;
}

.barbers-items {
    width: calc(100% - 60px) / 3;
}

.barbers-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-header-color);
    margin-top: 30px;
    margin-bottom: 8px;
}

.barbers-info {
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 30px;
}

.barbers-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barbers-soc-item {
    width: 44px;
    height: 44px;
}

.barbers-soc-item:not(:last-child) {
    margin-right: 10px;
}

.barbers-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.barbers-soc-link:hover .barbers-soc-icon {
    fill: var(--accent-color);
}

/* ----------gallery------------*/

.gallery {
    padding: 120px 0;
}

.gallery-pre-title {
    color: var(--primary-header-color);
    margin-bottom: 44px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.gallery-list {
    display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
}

.gallery-item {
    width: calc(100% - 120px)/4;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* ----------Online-booking---Contacts------------*/
.contact-input {
    width: 270px;
height: 24px;
}

.contact-input:first-child {
    margin-right: 30px;
}

.contact-form-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    margin-bottom: 44px;
    color: var(--second-color);
    cursor: pointer;
    transition: border-bottom-color 500ms linear;
}

.contact-form-item:hover,
.contact-form-item:focus {
    outline: transparent;
    border-bottom-color: var(--second-color);
}

.contact-form-item::placeholder {
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    transition: color 500ms linear;
}

.contact-form-item:hover::placeholder,
.contact-form-item:focus::placeholder {
    color: var(--second-color);
}

.contact-text {
    width: 570px;
    height: 76px;
    resize: none;
}
.contact-btn {
    color: var(--primary-link-color);
}

.form-title {
    margin-bottom: 44px;
}

.contacts-wrap {
    display: flex;
    background-color: #191C26;
    background-image: url(../images/contacts_bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center right calc(50% - 15px - 392px);
}

.contacts-wrap>.container {
    display: flex;
}

.form {
    width: calc(50% + 15px);
    padding-top: 130px;
    padding-bottom: 183px;
}

.contacts {
    width: calc(50% - 15px);
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 100px;
}

.contacts-pre-title {
    color: var(--second-color);
}

.contacts-title {
    margin-bottom: 40px;
}

.contact-list {
    margin-bottom: 70px;
}

.contct-links {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.contact-item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-address {
    font-weight: 700;
}
.contact-address-icon {
    margin-right: 16px;
}
/* ----------footer------------*/

.footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #9da4bd;
}

.footer-links {
    color: #303030;
}

.footer-links:hover,
.footer-links:focus {
    color: var(--accent-color);
}

/*-------MODAL-------*/
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 152, 152, 0.264);
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
    position: absolute;
    background-color: var(--second-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 500px;
    min-height: 600px;
    border-radius: 5px;
    transition: transform 300ms linear;
    padding: 35px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid var(--primary-header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 300ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border-color: var(--accent-color);
}

.modal-close {
transition: fill 300ms linear;
}

.modal-close:hover,
.modal-close:focus {
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-heading {
    font-size: 24px;
    color: var(--primary-header-color);
    text-align: center;
    font-weight: 700px;
    margin-bottom: 20px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 10px;
    color: #303030;
    font-size: 14px;
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(0, 255, 0, 0.2);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(255, 0, 0, 0.2);
}

.modal-input-group {
    margin-bottom: 20px;
}

.modal-input-group label {
    color: #191c26;
    display: block;
    margin-bottom: 5px;
}

.modal-comments {
    width: 100%;
    height: 140px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 10px;
    color: #303030;
    font-size: 14px;
    max-height: 250px;
    padding: 10px;
}

.modal-btn {
   text-align: center;
}