:root {
    --primary-header-color: #303030;
    --second-color: #ffffff;
    --second-heading-color: #ffffff;
    --primary-link-color: #ffffff;
    --accent-color: #FF6C00;
    --main-text-color: #555555;
    --sub-title-color: rgba(157, 164, 189, 0.6);

    --main-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    margin: 0px;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: "Open sans", sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--second-heading-color);
}

/* ----------header------------*/

header {
    background-color: grey;
}

.header-logo {
    padding: 32px 0px;
    display: block;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-link-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-link-color);
}

.button {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.header-btn {
    color: var(--second-color);
}

.button:focus,
.button:hover {
    background-color: var(--accent-color);
}

/* ----------hero------------*/
.hero {
    background-color: rgb(44, 43, 43);
}

.hero-right {
    padding: 184px 526px 208px 100px;
}

.sub-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--sub-title-color);
    margin-bottom: var(--main-margin);
}

.hero-title {
    font-size: 72px;
    line-height: 1.18;
    margin-bottom: var(--main-margin);
}



.text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    max-width: 370px;
}

.hero-links {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.hero-links:hover,
.hero-links:focus {
    color: var(--accent-color);
}

/* ----------about------------*/

.about-pre-title {
    color: #303030;
}

.about-title {
    color: var(--primary-header-color);
}

.about-after-title {
    color: var(--main-text-color)
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-text-color)
}

.about-btn {
    color: #303030;
}

/* ----------price------------*/

.price-title {
    font-size: 42px;
    line-height: 1.16;
}

.price-elements {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.price-btn {
    color: var(--second-color);
}

/* ----------benefits------------*/
.benefits-items>span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.benefits-items>sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;

    color: var(--accent-color);
}

.benefits-title {
    color: var(--primary-header-color);
}

.pre-benefits-title {
    color: var(--primary-header-color);
}

.benefits-text {
    color: var(--main-text-color);
}

/* ----------barbers------------*/
.pre-barbers-title {
    columns: var(--primary-header-color);
}

.barbers-title {
    color: var(--primary-header-color);

}

.barbers-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-header-color)
}

.barbers-info {
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* ----------barbers------------*/
.gallery-pre-title {
    color: var(--primary-header-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ----------contacts------------*/
.contacts-pre-title {
    color: var(--second-color);
}

.contct-links {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.contact-address {
    font-weight: 700;
}

/* ----------footer------------*/

.footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}

.footer-links {
    color: #303030;
}

.footer-links:hover,
.footer-links:focus {
    color: var(--accent-color);
}