:root {
    --primary-header-color: #303030;
    --second-color: #ffffff;
    --second-heading-color: #ffffff;
    --primary-link-color: #ffffff;
    --accent-color: #ff6c00;
    --main-text-color: #555555;
    --sub-title-color: rgba(157, 164, 189, 0.6);

    --main-margin: 20px;
    --second-margin: 42px;
}

